body {
  margin: 3rem 5%;
  font-family: "Inter", sans-serif;
}

p {
  padding: 5px;
}

span {
  padding: 0px;
}

header {
  font-family: "Poppins", sans-serif;
  background-size: cover;
  background-position: center;
}

.logo {
  height: 50px ;
  width: 200px ;
  display: flex;
}

.list-item {
  margin: 0.5rem 0.5rem;
}

img {
  width: 100px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

nav {
  background-color: rgb(16, 67, 73);
  color: white;
  border-radius: 5px;
}

ul {
  padding: 10px;
}

nav ul {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  display: inline-block;
  transition: 0.3s ease-in-out;
}

li a {
  color: white;
  text-decoration: none;
}

section {
  display: flex;
  justify-content: space-between;
}

article {
  flex: 1;
}

footer {
  display: flex;
  background-color: rgb(16, 67, 73);
  color: white;
  padding: 0 20px;
  border-radius: 5px;
  justify-content: space-evenly;
  flex: 1;
}

.footer-logo {
  height: 100px;
  width: 50px;
  margin-top: 5px;
}

footer div {
  flex: 1;
}

.main-section {
  text-align: center;
}

.title {
  font-size: 3.5rem;
  color: rgb(16, 67, 73);
}

.main-promotion {

  background-size: cover;
  background-position: bottom;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.card-list {
  margin: 20px 0;
}

.card-article {
  max-width: 300px;
  background-color: rgb(16, 67, 73);
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 0 10px;
}

.image-article {
  width: 250px;
  height: 170px;
}

.nav-menu:hover {
  transform: translateY(-3px);
}